/* color */
body,
.navbar a,
.list-social-icons a {
  color: #606060;
}

.navbar,
.bg-primary {
  background-color: #460C06;
}

.list-social-icons a:hover,
.list-icons .list-inline-item i:hover {
  color: #460C06; 
}

.portfolio-item-heading {
  /* color #460C06 with transparency */
  background-color: rgba(70, 12, 6, 0.8);
}

.surname,
.resumeDates,
a,
a:hover, a:focus, a:active {
  color: #93281D;
}

.navbar .active a,
.navbar .fa-bars,
.navbar .navbar-brand,
.portfolio-item-heading {
  color: #ffffff;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
}

.navbar a:hover {
  color: #C0C0C0;
}
/* end color */

body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
}

footer {
  margin-top: 30px;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem; 
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  margin-top: 30px;
}

.subheading {
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; 
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem; 
}

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  max-width: 350px;
}

.left {
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: center;
}

p {
  margin-top: 1rem;
}

.img-portfolio {
  margin: 0 auto;
  height: 250px;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-portfolio.constructionSitePhotography {
  height: 500px;
}

figure {
  margin-bottom: 0;
}

figcaption {
  margin-top: 10px;  
}

.portfolio-item:hover {
  opacity: 0.8;
}

.portfolio-item-heading {
  left: 0;
  right: 0;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 100px;
  font-size: 24px;
  display: block;
  margin: auto;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projectDescription {
  text-align: justify;
}

@media (min-width: 768px) {
  .content {
    margin-top: 90px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
  }

  .left {
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }

  .img-portfolio {
    margin-top: 0;
    margin-bottom: 0;
  }

  .portfolio-item-heading {
    width: 70%;
  }
}
    